__pycache__/
/src/ncbi-blast-2.14.0+/
/src/augustus-3.3.3/
/data/reference/Actinopterygii/Actinopterygii_refseq
/data/reference/GenPept

/data/reference/RefSeq
/data/reference/Ensembl
/data/reference/contaminant_db

/data/2019_tissues_n23/SpliceDB
/data/2019_tissues_n23/msms_meta_info
/data/2019_tissues_n23/SAM_files
/data/2019_tissues_n23/1_RefSeq_SpliceDB_Search/
/data/2019_tissues_n23/2_RefSeq_Ensembl_Search/
/data/2019_tissues_n23/3_Augustus/
/data/2019_tissues_n23/4_blastp/
/data/2019_tissues_n23/5_RefSeq_Ensembl_Augustus_Search/

/data/2020_hepatocytes_n60+2020_liver_n44/SAM_files
/data/2020_hepatocytes_n60+2020_liver_n44/msms_meta_info
/data/2020_hepatocytes_n60+2020_liver_n44/1_RefSeq_SpliceDB_Search/
/data/2020_hepatocytes_n60+2020_liver_n44/2_RefSeq_Ensembl_Search/
/data/2020_hepatocytes_n60+2020_liver_n44/3_Augustus/
/data/2020_hepatocytes_n60+2020_liver_n44/4_blastp/
/data/2020_hepatocytes_n60+2020_liver_n44/5_RefSeq_Ensembl_Augustus_Search/

*.pyc
*.log